@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2.8125rem;
}

@theme {
    /* colors */
    --color-primary: #121063;
    --color-dark: #010101;
    --color-gray-DD: #DDDDDD;
    --color-red-609: #E03609;
    --color-orange-71F: #F0B71F;
    /* font family */
    --font-orbitron: "Orbitron", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    /* break-point */
  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 95rem;
}

@layer base {
    body {
        @apply font-montserrat bg-dark text-white;
    }
   h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-orbitron);
    color: var(--color-primary);
   }
}
@layer components {
    .linear_button {
    @apply bg-linear-0 from-[#F0B71F] to-[#E03609] text-[17px] font-semibold px-5 py-3 rounded-xl;
    }
    .after_bottom {
    @apply relative after:absolute after:h-px after:w-full after:bg-linear-0 after:from-[#F0B71F] after:to-[#E03609] after:bottom-0 after:left-0;
    }

}

